name: A very long running task
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4
      - name: "Get a good night's rest"
        # 6 hours
        run: sleep 21600
